NEXT_PUBLIC_SUPABASE_URL=https://tqeyguvxcsebzhvhzngx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxZXlndXZ4Y3NlYnpodmh6bmd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzcyODcsImV4cCI6MjA3MDkxMzI4N30.-2TAoTNsCQRcI91fT0XIuXgEFhFIIEUv4pFsmMrEPWg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxZXlndXZ4Y3NlYnpodmh6bmd4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTMzNzI4NywiZXhwIjoyMDcwOTEzMjg3fQ.lxYNRIwiYj1VPtZpNFM51d3o70HeEd6haqAyKQ-MDDU